
name:  Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} with Python-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    env:
      SOTODLIB_TEST_DISABLE_PLOTS: 1
    strategy:
      # Ensure that a test continues even if another fails.  Useful for
      # debugging multiple problems in parallel.
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.10"
            pyshort: "310"
          - os: ubuntu-latest
            python: "3.13"
            pyshort: "313"
          - os: macos-15
            python: "3.10"
            pyshort: "310"
          - os: macos-15
            python: "3.13"
            pyshort: "313"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: ${{ matrix.python }}

      - name: Install Dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --upgrade wheel
          python3 -m pip install so3g
          python3 -m pip install pshmem
          python3 -m pip install --pre toast

      - name: Install OpenMPI for Tests
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libopenmpi-dev
          python3 -m pip install mpi4py

      - name: Install sotodlib
        run: |
          python3 -m pip install -vv .[site_pipeline,tests]

      - name: Run Serial Tests
        run: |
          export OMP_NUM_THREADS=2
          export OPENBLAS_NUM_THREADS=2
          export MPI_DISABLE=1
          pushd ./tests
          python3 -m pytest -s .
          popd


      - name: Run MPI Tests
        if: runner.os == 'Linux'
        run: |
          export OMP_NUM_THREADS=1
          export OPENBLAS_NUM_THREADS=1
          pushd ./tests
          mpirun -n 2 python3 -m pytest -s .
          popd
